@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.btn-gradient {
  transition: background-image 0.5s, background-position 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    0.35turn,
    #f3d707 0%,
    #ffb342 51%,
    #f3d707 100%
  );
}

.btn-gradient:hover {
  background-position: right bottom;
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-dots::after {
  content: "";
  animation: loadingDots 1.5s infinite steps(3);
}

@keyframes loadingDots {
  0%,
  100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
